@model AdminDashboard.Models.TaiXe

@if (Model != null)
{
    <div class="mt-4">
        <hr class="my-3">

        <div class="info-item">
            <label>Bằng lái xe:</label>
            <span>@Model.BangLaiXe</span>
        </div>

        <div class="info-item">
            <label>Ngày vào làm:</label>
            <span>@Model.NgayVaoLam.ToString("dd/MM/yyyy")</span>
        </div>

        <div class="info-item">
            <label>Trạng thái hoạt động:</label>
            @if (Model.TrangThai == "Hoạt động")
            {
                <span class="text-success fw-bold">@Model.TrangThai</span>
            }
            else
            {
                <span class="text-danger fw-bold">@Model.TrangThai</span>
            }
        </div>
    </div>
}