@model AdminDashboard.Models.Xe

<h2>Thêm Xe</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="BienSoXe" class="control-label"></label>
        <input asp-for="BienSoXe" class="form-control" />
        <span asp-validation-for="BienSoXe" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoaiXe" class="control-label"></label>
        <input asp-for="LoaiXe" class="form-control" />
        <span asp-validation-for="LoaiXe" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Lưu</button> |
    <a asp-action="Index">Quay lại</a>
</form>
