@model AdminDashboard.Models.LoTrinh

@{
    ViewData["Title"] = "Thêm Lộ Trình";
}

<h2>Thêm Lộ Trình</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TramDi" class="control-label"></label>
                <select asp-for="TramDi" class="form-control" asp-items="ViewBag.TramDi"></select>
                <span asp-validation-for="TramDi" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="TramToi" class="control-label"></label>
                <select asp-for="TramToi" class="form-control" asp-items="ViewBag.TramToi" asp-itime="ViewBag.Tinh"></select>
                <span asp-validation-for="TramToi" class="text-danger"></span>
            </div>
       
            
            <div class="form-group">
                <label asp-for="GiaVeCoDinh" class="control-label"></label>
                <input asp-for="GiaVeCoDinh" class="form-control" />
                <span asp-validation-for="GiaVeCoDinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}