<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoSix – Đi nhanh, sống trọn</title>

    <link rel="shortcut icon" href="~/css/images/icon_logo.png" type="image/x-icon" />
    <link rel="icon" href="~/css/images/icon_logo.png" type="image/png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashboard.styles.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1 0 auto;
        }

        footer {
            flex-shrink: 0;
        }

        .hover-text {
            color: black;
        }

            .hover-text:hover {
                display: flex;
                align-items: center;
                font-weight: bold;
                flex-wrap: nowrap;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                color: white;
                text-decoration: underline;
                font-size: 18px;
            }

        .nav-item {
            justify-content: center;
            align-items: center;
            padding-left: 25px;
            padding-right: 10px;
            font-size: 18px;
        }

        select {
            padding: 8px;
            width: 120px;
            font-size: 18px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            background-color: orange;
        }

            select:hover {
                cursor: pointer;
                text-decoration: underline;
                color: white;
                font-weight: bold;
            }

            select:focus {
                outline: none;
                border: none;
            }

        .username-text {
            color: black;
            font-size: 18px;
            padding: 8px;
        }

            .username-text:hover {
                color: white;
                font-weight: bold;
                text-decoration: underline;
            }
     </style>
</head>
<body>
    <header> 
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color:orange">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/css/images/logo_web.png" class="img-fluid" style="max-height:30px; padding-left:20px;" alt="Bus" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent" style="padding-right:20px">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="" asp-controller="Home_User" asp-action="Home_User">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="" asp-controller="Tram" asp-action="Index">Tram</a>
                        </li>

                          <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="" asp-controller="ChuyenXe" asp-action="Index">Chuyen Xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="Admin" asp-controller="LoaiXe" asp-action="Index">Loại Xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link hover-text" asp-area="Admin" asp-controller="Xe" asp-action="Index"> Xe</a>
                            </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle username-text" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                        <li><a class="dropdown-item" asp-controller="Auth" asp-action="Account">Thông tin tài khoản</a></li>
                                        <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <select id="viewSelector">
                                    <option value="" disabled selected>Tài khoản</option>
                                    <option value="/Auth/Login">Đăng nhập</option>
                                    <option value="/Auth/Register">Đăng kí</option>
                                </select>
                                <script>
                                    document.getElementById("viewSelector").addEventListener("change", function () {
                                        const selectedValue = this.value;
                                        if (selectedValue) {
                                            window.location.href = selectedValue;
                                        }
                                    });
                                </script>
                            }
                        </li>

                    </ul>
                </div>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white py-4 mt-auto">
        <div class="container text-center">
            &copy; 2025 - GoSix - <a class="text-light text-decoration-underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>